* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url("https://ae01.alicdn.com/kf/HTB1txk9JpXXXXaUXFXXq6xXFXXXG/Photography-Background-Under-the-Sea-World-Personalized-Vinyl-Backdrops-for-Photography-Custom-Photo-Studio-Props-Fotografia.jpg_640x640.jpg");
  background-size: cover;
  background-position: center; }

.clock {
  height: 80%;
  width: 40%;
  padding: 3vh 2vw;
  position: relative;
  border: 3.5vh solid #fff;
  border-radius: 50%; }
  .clock__face {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative; }
    .clock__face span {
      position: absolute;
      font-size: 6vh; }
    .clock__face .one {
      left: 70%;
      top: 6%; }
    .clock__face .two {
      left: 87%;
      top: 23%; }
    .clock__face .three {
      left: 90%;
      top: 45%; }
    .clock__face .four {
      left: 87%;
      top: 68%; }
    .clock__face .five {
      left: 70%;
      top: 85%; }
    .clock__face .six {
      left: 48%;
      top: 91%; }
    .clock__face .seven {
      right: 70%;
      top: 85%; }
    .clock__face .eight {
      right: 87%;
      top: 68%; }
    .clock__face .nine {
      right: 90%;
      top: 45%; }
    .clock__face .ten {
      right: 82%;
      top: 23%; }
    .clock__face .eleven {
      right: 68%;
      top: 6%; }
    .clock__face .twelve {
      left: 45%;
      top: -1%; }
    .clock__face .hand {
      height: 2%;
      width: 50%;
      background-color: #000;
      position: absolute;
      -webkit-transform-origin: 100%;
      -ms-transform-origin: 100%;
      transform-origin: 100%;
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg); }
    .clock__face .hand-hour {
      padding: 1vh; }
    .clock__face .hand-sec {
      height: 1%; }
